<div class="container">
{{#if products}}
  <h2 class="my-3">Productos</h2>
  <table class="table table-striped">
    <thead>
      <tr class="table-dark">
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Thumbnail</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{title}}</td>
          <td>$ {{price}}</td>
          <td class="text-center"><img style="max-height: 25px; max-width: auto;" src={{thumbnail}} /></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
<h1 class="text-center mt-5">No hay productos.</h1>
{{/if}}
</div>