<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/products" method="post">
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre">
    <label for="precio">Precio</label>
    <input id="precio" type="text" name="precio">
    <input type="submit">
</form>
